.flex{
    display: flex;
    flex-flow: column;
    background-color: white;
    margin-top: 20px;
    justify-content: center;
    max-width:100vh;
    height: 30vh;
    margin-left:20vh;
    border-color: black;
}
.flex >div{
   
    max-width:50%;
    margin-left: 10vh;
    padding-top: 10px;
   flex-shrink: 1;
}