.c3-flex{
    display:flex;
    background-color:white;
    justify-content: center;
    margin-top:10px;
    margin-bottom:10px;
    max-width:80vh;
    height: 30vh;
    align-content: center;
    margin-left:20vh;
}
